[submodule "libraries"]
	path = hardware/libraries
	url = https://github.com/ahsanu123/mkl.git
[submodule "phiniks"]
	path = software/sidecar/phiniks
	url = https://github.com/ahsanu123/phiniks.git
[submodule "surealism-ui"]
	path = software/app/ui/sui
  url = https://github.com/Surrealism-All/SurrealismUI.git
